@media screen and (max-width: 768px) {
    main .left, main .right {
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
    iframe {
        height: 800px;
    }
}
@media screen and (max-width: 600px) {
    main {
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }    
    nav {
        border-right: 3px solid #b1e5fa;
        border-left: 0;
    }
    nav ul li {
        width: 100%;
        text-align: right;
    }
}